<div id="footer">
	<div class="footer-box">
		<p class="copyrights">{{data.copyrights_label}}</p>
		<ul class="links">
			<li><a href="#">{{data.home_page_link}}</a></li>
			<li><a href="#">{{data.privacy_policy}}</a></li>
			<li><a href="#">{{data.terms_of_use}}</a></li>
		</ul>
	</div>
</div>